p{margin-bottom:2px;}
.hidden{display:none;}
.wid{
    width:100%;
    margin: 2px 0
}


#main{
    max-width: 1000px;
    margin: 4px auto;
    text-align: center;
}

.part{
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

